@charset "utf-8";

body {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	font-weight: normal;
	color: #151515;
}

header {
	padding: 5px 0px;
	margin-bottom: 20px;
	height: 42px;
	background-color: #7c7c7d;
	color: #fff;
	box-shadow: 0px 2px 2px black;
}

header>div {
	margin-left: 8px;
}

#conteudo {
	padding-left: 2%;
	padding-right: 2%;
	min-height: 400px;
}

footer {
	padding: 0px 8px;
	margin-bottom: 10px;
	text-align: center;
}

footer a {
	text-decoration: none;
	color: #7c7c7d;
}

/* LOGIN*/
#loginDialog {
	width: 25%;
	margin: auto;
	margin-top: 5%;
	border-radius: 8px;
	border: 1px solid #f3f3f3;
	text-align: center;
}

.gridLogin {
	background-color: #f3f3f3;
	border-radius: 8px;
	border: 1px solid #E6E6E6;
	margin: 1em;
	padding: 1em;
	border-radius: 8px;
}

.buttonRigth {
	float: right;
}

/*FORMULARIOS*/
.formProduto {
	width:100%;
	margin-top: 1%;
	border-radius: 8px;
	border: 1px solid #f3f3f3;
	text-align: left;
}
.label{
	width: 10%;
	padding: 2em;
}
.field{
	width: 90%;
	padding: 2em;
}

